/* @media screen and (max-width:960px) {
    .mobile {
        width: 640px;
        height: 960px;
        border-radius: 50px;
        border: 1px solid black;
        margin: auto;
        position: relative;
        background-color: black;
        overflow: auto;
    }
    .screen {
        width: 414px;
        height: 736px;
        border: 1px solid red;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        margin: auto;
    }
    .home {
        width: 80px;
        height: 80px;
        bottom: 15px;
        left: 0;
        right: 0;
        margin: auto;
        background-color: white;
        border-radius: 40px;
        position: absolute;
    }
    .receptor {
        width: 80px;
        height: 10px;
        background-color: white;
        top: 45px;
        position: relative;
        margin: auto;
    }
    .camera {
        width: 10px;
        height: 10px;
        background-color: white;
        top: 45px;
        left: 250px;
        position: absolute;
        border-radius: 5px;
        margin: auto;
    }
}

@media screen and (min-width:961px) {
    .mobile {
        width: 1024px;
        height: 1160px;
        border-radius: 50px;
        border: 1px solid black;
        margin: auto;
        position: relative;
        background-color: black;
        overflow: auto;
    }
    .screen {
        width: 768px;
        height: 959px;
        border: 1px solid red;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        margin: auto;
    }
    .home {
        width: 80px;
        height: 80px;
        bottom: 15px;
        left: 472px;
        left: 0;
        right: 0;
        bottom: 5px;
        margin: auto;
        background-color: white;
        border-radius: 40px;
        position: absolute;
    }
    .receptor {
        display: none
    }
    .camera {
        width: 10px;
        height: 10px;
        background-color: white;
        top: 45px;
        left: 507px;
        left: 0;
        right: 0;
        position: absolute;
        border-radius: 5px;
        margin: auto;
    }
}
 */

@media screen and (max-width:957px) {
    .mobile {
        width: 472px;
        height: 957px;
        border-radius: 25px;
        border: 1px solid black;
        left: 0;
        position: relative;
        background-color: black;
    }
    .screen {
        width: 414px;
        height: 736px;
        border: 1px solid red;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        margin: auto;
    }
    .home {
        width: 80px;
        height: 80px;
        bottom: 15px;
        left: 0;
        right: 0;
        margin: auto;
        background-color: white;
        border-radius: 40px;
        position: absolute;
    }
    .receptor {
        width: 80px;
        height: 10px;
        background-color: white;
        top: 45px;
        position: relative;
        margin: auto;
    }
    .camera {
        width: 10px;
        height: 10px;
        background-color: white;
        top: 45px;
        left: 160px;
        position: absolute;
        border-radius: 5px;
        margin: auto;
    }
}

@media screen and (min-width:860px) {
    .mobile {
        width: 860px;
        height: 1187px;
        border-radius: 50px;
        border: 1px solid black;
        left: 0;
        position: relative;
        background-color: black;
        overflow: auto;
    }
    .screen {
        width: 768px;
        height: 1024px;
        border: 1px solid red;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        margin: auto;
    }
    .home {
        width: 60px;
        height: 60px;
        left: 0;
        right: 0;
        bottom: 8px;
        margin: auto;
        background-color: white;
        border-radius: 40px;
        position: absolute;
    }
    .receptor {
        display: none
    }
    .camera {
        width: 10px;
        height: 10px;
        background-color: white;
        top: 45px;
        /* left: 507px; */
        left: 0;
        right: 0;
        position: absolute;
        border-radius: 5px;
        margin: auto;
    }
}
